{% extends "base.html" %}
{% block titulo %}Cadastro{% endblock titulo %}
{% block content %}
<div class="row">
    <div class="container">
        <h1>Cadastro</h1>
        <hr>
        <!-- Inicio do alerta-->
        {% if messages %}
        {% for i in messages %}
        <div class="alert {{i.tags}}" role="alert">
            {{i}}
        </div>
        {% endfor %}
        {% endif %}

        {% if status == '0' %}
        <div class="alert alert-success" role="alert">
            Usuário cadastrado com sucesso!
        </div>
        {% endif %}


        {% if status == '4' %}
        <div class="alert alert-danger" role="alert">
            Erro no sistema!
        </div>
        {% endif %}
        <!-- Fim dos alert-->

        <form method="POST" action="{% url 'valida_cadastro' %}"> {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nome:" name='nome'>
                </div>
                <div class="input-group mb-3">

                    <input type="email" class="form-control" placeholder="e-mail:" name='email'>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Senha:" name='senha'>
                </div>
                <div class="input-group mb-3">
                    <input type="Telefone" class="form-control" placeholder="Telefone:" name='telefone'>
                </div>
            </div>
            <button class="btn btn-outline-secondary" type="submit">Cadastra-se</button>
            <a href={% url 'login' %} class="btn btn-outline-primary">Login</a>
        </form>
    </div>
</div>
{% endblock content %}